[submodule "3rd-party/googletest"]
	path = 3rd-party/googletest
url=https://github.com/google/googletest.git
[submodule "3rd-party/lognosis"]
	path = 3rd-party/lognosis
	url = https://github.com/cryptogogue/lognosis.git
[submodule "3rd-party/reproc"]
	path = 3rd-party/reproc
url=https://github.com/cryptogogue/reproc.git
[submodule "3rd-party/hiredis"]
	path = 3rd-party/hiredis
    url=https://github.com/cryptogogue/hiredis.git
[submodule "3rd-party/rocksdb"]
	path = 3rd-party/rocksdb
	url = https://github.com/facebook/rocksdb.git
